* {
  box-sizing: border-box;
}

:root {
  --primary-color: white;
  --secondary-color: black;
  --accent-color: #74C69D;
  --bg-color-primary: white;
  --bg-color-secondary: black;

  --font-family-base: "Crimson Text";
  --font-family-heading: 'Roboto', sans-serif;
  --font-size-base: 16px;
  --font-size-first: 24px;
  --font-size-secondary: 32px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;

  --spacing: 10px;

  --default-padding-all-sides-20px: 20px;
  --default-padding-all-sides: 40px;
  --default-padding-top: 40px;
  --default-padding-left: 40px;
  --default-padding-right: 40px;
  --default-padding-buttom: 50px;
  --gap-base: 20px;

  --primary-margin: 0px;
  --secondary-margin: 20px;
  --default-margin: 40px;
  --default-margin-top: 40px;
  --default-margin-left: 40px;
  --default-margin-right: 40px;
  --default-margin-button: 40px;

  --default-border-radius: 10px;
}
body {
  margin: 0;
  font-family: var(--font-family-base);
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: white;
}

.wrapper {
  padding: 35px 130px 40px;
}

.bg-color {
  background-color: var(--accent-color);
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

nav a {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
  color: var(--primary-color);
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

section {
  min-height: 100vh;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}


.sectionHero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroImg {
  background-color: aquamarine;
  width: 50%;
}

.heroText {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Om knapper er store vurder column på mobil*/
.heroButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}